// Dark Color Scheme

$transparent: rgba(0, 0, 0, 0);

// Main app background color
$background: #1e2329;

// Text that are directly ontop of background
$onBackground: #fcfcfc;

// surface - content, cards ontop of background
$surface: #393e46;

// Text that are directly ontop of a surface
$onSurface: #eeeeee;

// The two accent colors
$primary: #47b993;
$primaryOnHover: #389475;

$secondary: #dfb35c;
$secondaryOnHover: #b6985b;

// Error colors
$error: #e55763;