@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.main {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.label {
    text-transform: capitalize;
    font-size: $base-font-size;
    margin-bottom: 4px;
    color: $onBackground;
}

.input {
    padding: 10px;
    background-color: $surface;
    border: none;
    color: $onBackground;
    border-radius: 4px;
    width: 260px;
    text-overflow: ellipsis;
}