
/*GLOBAL REUSABLE STYLES*/

div.container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

body {
    background-color: #1E2329;
    font-family: "Helvetica Neue";
    color: white; 
}

h1 {
    font-size: 38px;
    font-weight: 400;
}

h2 {
    font-size: 34px;
    font-weight: 400;
}

h3 {
    font-size: 30px;
    font-weight: 400;
}

p.regular {
    font-size: 17px;
    font-weight: bold;
    margin: 0px;
}

p.medium {
    font-size: 14px;
    margin: 0px;
}

p.small {
    font-size: 12px;
    margin: 0px;
}

span {
    color: #4ECCA3;
}

input {
    width: 255px;
    height: 48px;
    margin: 5px;
    padding: 0px 20px;
    border-radius: 30px;
    background-color: #707070;
    color: white;
    border: none;
    font-size: 18px;
}

button.primary {
    width: 295px;
    height: 48px;
    background-color: #4ECCA3;
    color: white;
    font-size: 14px;
    margin: 5px;
    border-radius: 30px;
    border: none;
}

button.secondary {
    width: 295px;
    height: 48px;
    background-color: #1E2329;
    border: 1px solid #EDCA6C;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    margin: 5px;
}

/*LOGIN STYLES*/

span.psw{
    color: white;
    margin: 5px;
}

form.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1.title{
    text-align: center;
}

/*DASHBOARD STYLES*/

div.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 50%;

}

div.chequing {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 82px;
    margin: 1px;
    padding: 10px 20px;
    background-color: #707070;
}

div.savings {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 82px;
    margin: 1px;
    padding: 10px 20px;
    background-color: #4ECCA3;
}

div.credit-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 82px;
    margin: 1px;
    padding: 10px 20px;
    background-color: #EDCA6C;
}

p.balances-value {
    font-size: 30px;
    margin: 0px;
    font-weight: 200;
    text-align: right;
}

p.budgets-value {
    font-size: 24px;
    margin: 0px;
    font-weight: 200;
    text-align: right;
}

p.percent-value{
    font-size: 18px;
    margin: 0px;
    font-weight: 200;
    text-align: right;
}

div.budget-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 69px;
    margin: 1px;
    padding: 10px 20px;
    background-color: #707070;
}

/*TRANSACTION STYLES*/

/*ACCOUNTS STYLES*/